/*variables*/

:root {
    font-size: 14px;
    --color-button-text: #fff;
    --color-primary-100: #dee3ea;
    --color-primary-200: #b2bdcd;
    --color-primary-300: #5d7290;
    --color-primary-600: #323d4d;
    --color-primary-700: #242c37;
    --color-primary-800: #151a21;
    --color-primary-900: #0b0e11;
    --color-secondary-washed-out: #879eed;
    --color-secondary: #5575e7;
    --color-accent-glow: rgba(253, 77, 77, 0.3);
    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;
}


/* basic styles*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.5;
    background: var(--color-primary-900);
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

ul {
    list-style: none;
}

p {
    color: var(--color-primary-100);
    margin-bottom: .75rem;
}

section {
    width: 100vw;
}

h1 {
    margin: 1rem 0;
    line-height: 1.3;
    color: var(--color-primary-100);
}

h2 {
    font-size: 20px;
    color: var(--color-primary-100);
    margin-bottom: 1rem;
}

h3 {
    color: var(--color-accent);
    margin: 10px 0;
}

h4 {
    color: var(--color-primary-100);
    font-size: 15px;
}


/*utilities*/

.color-300 {
    color: var(--color-primary-300)
}

h1.logo-text {
    margin: 0;
    color: var(--color-accent);
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 60px
}

.text-logo {
    position: relative;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
}

.form-container {
    padding: 1.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-800);
    border-radius: 8px;
    text-align: center;
}

.profile-container {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

.profile-header {
    text-align: center;
}

.py-3 {
    padding: 3rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.px-3 {
    padding: 0 3rem;
}

.px-2 {
    padding: 0 2rem;
}

.px-1 {
    padding: 0 20px;
}

.large {
    font-size: 2rem;
}

.form-group {
    position: relative;
    color: var(--color-button-text);
}

input {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: var(--color-button-text);
    background-color: var(--color-primary-700);
    width: 320px;
    height: 51px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    font-weight: 600;
    transition: all .2s;
}

input:hover {
    background-color: var(--color-primary-600);
}

input:focus {
    background-color: var(--color-primary-600);
}

input#search {
    height: 40px;
}

input#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-accent);
    color: white;
    font-size: .875rem;
    padding: 10px 40px;
    border-radius: .5rem;
    width: 185px;
    font-weight: 700;
    margin: 20px 0;
    transition: all .2s;
}

.btn:hover {
    background: var(--color-accent-hover);
}

.form-icon {
    color: #a9a9a9;
    opacity: .5;
    position: absolute;
    top: 40.5%;
    left: 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3rem;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-900);
    z-index: 1
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.logo-lg {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.post {
    border-radius: .5rem;
    background-color: var(--color-primary-800);
    margin-top: 20px;
    position: relative;
}

.delete-post {
    position: absolute;
    right: 30px;
    top: 35px;
    background: none;
    outline: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
}

.delete-education {
    position: absolute;
    right: 10px;
    background: none;
    outline: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
}

.education {
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.comment-avatar {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-header {
    display: flex;
    padding: 20px;
}

.post-picture {
    width: 100%;
}

.post-date {
    font-size: 13px;
    color: var(--color-primary-200);
}

.post-info {
    margin-top: 3px;
}

.reactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: 10px 0;
}

.reaction-btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    color: var(--color-primary-300);
    border-radius: .5rem;
    transition: all .2s;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reaction-btn .fas {
    margin: 3px;
}

.reaction-btn:hover {
    background-color: var(--color-primary-600);
}

.btn-dark {
    color: var(--color-accent);
}

.featured-comment {
    position: relative;
    border-top: 1px solid var(--color-primary-600);
    display: flex;
    padding: 10px 20px;
}

.comment-body {
    background-color: var(--color-primary-700);
    border-radius: .5rem;
    padding: 10px;
    width: 100%;
}

.comment-body p {
    margin-bottom: 0;
}

.comment-name {
    display: inline;
    margin-right: 10px;
}

.post-form {
    background-color: var(--color-primary-800);
    border-radius: .5rem;
    padding: 2rem;
}

.post-form textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color-primary-700);
    border-radius: .5rem;
    resize: none;
    padding: 20px;
    color: var(--color-primary-100);
    font-family: inherit;
}

input[type=submit] {
    margin: 10px 0;
    padding: 0;
    height: 34px;
    width: 49%;
    display: inline;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    outline: none;
    border-radius: .5rem;
    display: inline;
    background-color: var(--color-primary-700);
    cursor: pointer;
    height: 34px;
    width: 49%;
    border: none;
    color: var(--color-button-text);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload:hover {
    background-color: var(--color-primary-600);
}

.profile-upload {
    width: 200px;
}

.img-preview {
    scale: .5;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.add-comment {
    color: var(--color-primary-300);
    margin: 0;
    padding-left: 70px;
}

label i {
    margin-right: 5px;
}

.medailon {
    display: flex;
    border-radius: .5rem;
    background-color: var(--color-primary-800);
    padding: 20px;
    width: 300px;
    margin: 30px auto;
}

.medailon p {
    color: var(--color-primary-300);
}

.no-profile {
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    background-color: var(--color-primary-800);
    padding: 20px;
    width: 300px;
    margin: 30px auto;
}

.no-profile h4 {
    font-size: 12px;
    font-weight: 600;
}

.upvote-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-primary-300);
    position: absolute;
    bottom: 10%;
    right: 0%;
}

.border-none {
    border: none;
}

.btn-dark {
    color: var(--color-accent);
}

.comment-form {
    background-color: var(--color-primary-800);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
}

.comment-form form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment-send {
    background: none;
    outline: none;
    border: none;
    color: var(--color-primary-300);
    cursor: pointer;
}

.comment-form textarea {
    width: 80%;
    outline: none;
    border: none;
    background-color: var(--color-primary-700);
    border-radius: .5rem;
    resize: none;
    padding: 10px;
    color: var(--color-primary-100);
    font-family: inherit;
}

.profile-item {
    background-color: var(--color-primary-800);
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: 15px;
    margin: 20px 0;
}

.profile-item h2 {
    margin: 0;
}

.about-user {
    padding: 42px 0;
}

.about-card {
    background: var(--color-primary-800);
    padding: 20px;
    border-radius: .5rem;
    margin-top: 20px;
}

.about-card i {
    margin-right: 10px;
    text-align: center;
}

.text-right {
    text-align: right;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form {
    background-color: var(--color-primary-800);
    border-radius: .5rem;
    padding: 30px;
    width: 50vw;
}

.create-form input {
    width: 100%;
}

.create-form textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color-primary-700);
    border-radius: .5rem;
    resize: none;
    font-weight: bold;
    margin: 10px 0;
    padding: 20px 40px 0 40px;
    color: var(--color-primary-100);
    font-family: inherit;
}

.create-form textarea::placeholder {
    font-weight: bold;
}

.create-icon {
    position: absolute;
    color: var(--color-primary-300);
    top: 40%;
    left: 13px;
}

.edit-btn .btn {
    margin: 0 10px;
}

.add-btn {
    padding: 10px;
    text-align: center;
    display: block;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: .5rem;
    outline: none;
    border: none;
    background-color: var(--color-primary-600);
    color: var(--color-primary-600);
}

input[type="date"] {
    font-family: inherit;
    padding-left: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.alert-container {
    position: absolute;
    right: 0;
    z-index: 2;
}

.alert {
    color: var(--color-button-text);
    border-radius: .5rem;
    padding: 20px;
    margin: 10px;
    z-index: 2;
}

.alert-danger {
    background-color: var(--color-accent);
}

.alert-success {
    background-color: #4BB543;
}

.alert-warning {
    background-color: #eed202;
}