/*variables*/

:root {
    font-size: 14px;
    --color-button-text: #fff;
    --color-primary-100: #dee3ea;
    --color-primary-200: #b2bdcd;
    --color-primary-300: #5d7290;
    --color-primary-600: #323d4d;
    --color-primary-700: #242c37;
    --color-primary-800: #151a21;
    --color-primary-900: #0b0e11;
    --color-secondary-washed-out: #879eed;
    --color-secondary: #5575e7;
    --color-accent-glow: rgba(253, 77, 77, 0.3);
    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;
}

.navbar-phone {
    display: none;
}

.bottom-nav {
    display: none;
}

.bottom-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-menu li i {
    color: var(--color-primary-100);
}

.bottom-menu li {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .grid-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        grid-gap: 0;
    }
    .about-user {
        width: 100%;
    }
    .profile-container {
        width: 100%;
        margin: 0;
    }
    .users-posts {
        width: 100%;
        margin-bottom: 50px;
    }
    .posts {
        margin-bottom: 50px;
    }
    .edit-btn .btn {
        margin: 20px 10px;
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        display: none;
    }
    .custom-file-upload {
        font-size: 10px;
    }
    .comments {
        margin-bottom: 50px;
    }
    .bottom-nav {
        display: block;
        position: fixed;
        background: var(--color-primary-800);
        bottom: 0px;
        width: 100%;
        z-index: 1;
    }
    .post p {
        max-width: 100vw;
    }
    .navbar-phone {
        display: flex;
    }
    .grid-3 .column:first-child {
        display: none;
    }
    .grid-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        margin: 0 20px;
    }
    .grid-3 .column:nth-child(2) {
        width: 100%;
    }
    .profile-item {
        width: 300px;
    }
    .create-container {
        width: 90vw;
        margin: auto;
        margin-bottom: 100px;
    }
    .create-form {
        width: 100%;
    }
}

@media only screen and (max-width: 470px) {
    input#search {
        width: 180px;
    }
    .delete-post {
        top: 50px;
    }
}